<html>
  <head>
    <header>
      <div class="Header">
        
        <h1 class="Brazil_Text">Going to brazil</h1>
        <div class="Header_Buttons">
         <button class="Search">
          <a href="/search"> Search</a>
        </button>
        <button class="About">
          <a href="/about">About</a>
        </button>
        <button class="Log_out">
          <a href="/">Log out</a>
        </button>
        </div>
      </div>
    </header>
  </head>
</html>
<body>
  <div>
    <h1 class="Upper_text">A little about us</h1>
    <p>We are trying to make this good so pls subscribe and like it</p>
  </div>  

<link rel="stylesheet" type="text/css" href="static/css/style.css">