<html>
  <head>
    <header>
      <div class="Header">
        
        <h1 class="Brazil_Text">Going to brazil</h1>
      </div>
    </header>
  </head>
  <body>
    <a href="/client-main">
      <button class="client_button">Client</button>
    </a>
    <a href="/admin-main">
      <button class="admin_button">Admin</button>
    </a>
    

<img class="Jesus" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fjohnsonmatel.com%2F2012%2F8_August%2FRio%2FChrist_on_Corvado.jpg&f=1&nofb=1" alt="">
    <img class="Tokyo" src="https://th.bing.com/th/id/R81c75f8174c1aa06c1553e3c594a3c5d?rik=i0RL0LAqzdDmCg&pid=ImgRaw" alt="">
  </body>
</html>



<link rel="stylesheet" type="text/css" href="static/css/style.css">